body {
  background: #fafafa;
  color: #333333;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.flex_index {
  display: flex;
  flex-direction: row;
}

.container_index {
  display: inline;
  background-color: #3dc943;
  height: 100vh;
  width: 50vw;
  box-shadow: 0 10px 8px #888888;
}

.index-btn {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #3dc943;
  color: #fff;
  padding: 0.7rem 5rem;
  border-radius: 9px;
  font-size: 1.3rem;
  border: 0;
  box-shadow: 4px 4px 12px #888888;
  position: relative;
  top: 8rem;
}

.btn:hover {
  background-color: #038308;
}

.index_text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 1px 2px 6px #5f5f5f;
  line-height: 1rem;
  position: relative;
}

.itext1 {
  color: #fff;
  text-align: right;
  top: 5rem;
}

.itext2 {
  color: #3dc943;
  text-align: left;
  left: 48rem;
  bottom: 7rem;
}

.ind_img {
  height: 10rem;
  width: 50vw;
  opacity: 30%;
}
